@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;700&family=Raleway:wght@400;700&display=swap'); /*font-family: 'Raleway', sans-serif;*/

/*- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
- Dark Blue (main background): hsl(218, 28%, 13%)
- Dark Blue (footer background): hsl(216, 53%, 9%)
- Dark Blue (testimonials background): hsl(219, 30%, 18%)*/


body{
    font-family: 'Open Sans', sans-serif;
    background:linear-gradient(hsl(217, 28%, 15%),5%, hsl(218, 28%, 13%));
    font-size:14px;
}

.navbar{
    background-color:transparent;
    display:flex;
    flex-direction:row;
    box-sizing: border-box;
    align-items: center;
    padding:15px 15px;
    
}

.right-nav a{
    color:white;
    list-style-type:none;
    text-decoration:none;
    padding:0 10px;
    display:inline-block;
    margin-left: auto;
}

.right-nav{
    margin-left: auto;
}

.logo{
    height:25px;
}

.section1{
    margin-top:50px;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    z-index:1;
    background-image:url("images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position-y:center;
    background-size:100% auto;
    text-align:center;
}

.section1 img{
    height:225px;
}

h1{
    margin:20px 20px;
    color:hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    font-size:1.75em;
    line-height:1.5em;
}

h2{
    margin:0 30px;
    color:hsl(0, 0%, 100%);
    font-size:1em;
    font-weight:400;
    line-height:1.5em;
    text-align:center;
}

.get-started{
    width:250px;
    height:45px;
    border-radius:50px;
    border:none;
    background-image:linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size:1em;
    margin-top:30px;
    cursor:pointer;
    box-shadow:0px 1px 1px 1px hsl(198, 60%, 50%);
}

.section2{
    margin-top:150px;
    padding:0 25px;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    text-align:center;
}

.tile img{
    height:70px;
}

.tile{
    margin-bottom:100px;
}

.section2 h3{
    color:hsl(0, 0%, 100%);
    font-size:1.25em;
}

.section2 p{
    color:hsl(0, 0%, 100%);
    font-size:1em;
    line-height:1.5em;
    font-weight:400;
}

.section3{
    margin-top:50px;
    padding:0 25px;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    text-align:left;
}

.productive{
    height:225px;
}

.section3 h1{
    font-size:1.2em;
    margin-left:0;
}

.section3 p{
    font-size:1em;
    color:white;
}

.section3 a{
    color:hsl(176, 68%, 64%);
    text-decoration:none;
    border-bottom:1px solid hsl(176, 68%, 64%);
    padding-bottom:5px;
    cursor:pointer;
    font-size:.9em;
}

.sec3text img{
    position:relative;
    margin-bottom:-4px;
}

.section4{
    margin-top:200px;
    padding:0 25px;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}

.quote-cards{
    display:flex;
    flex-direction:column;
    text-align:left;
    color:hsl(0, 0%, 100%);
    font-weight:200;
    margin:0 15px;
    margin-bottom:150px;
    
}

.card{
    background-color:hsl(219, 30%, 18%);
    padding:25px;
    margin-bottom:25px;
    font-size:.7em;
    line-height: 2em;
    z-index:2;
    border-radius:5px;
}

.profile-pic{
    margin-right:10px;
    margin-top:10px;
    height:30px;
    border-radius:50%;
    float:left;
}

h5{
    font-size:1.1em;
    margin-top:15px;
    margin-bottom:15px;
}

h6{
    margin-left:40px;
    margin-top:-12px;
    font-weight:200;
    margin-bottom:0;
}

#quotation{
    position:absolute;
    z-index:1;
    margin-top:-30px;
    margin-left:-150px;
    transform:scale(.4);
}

.section5{
    margin-top:75px;
    padding:0 25px;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}

.contact-box{
    position:absolute;;
    width:75%;
    height:auto;
    background-color:hsl(217, 28%, 15%);
    border-radius:5px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    z-index:2;
    box-shadow:5px 5px 5px hsl(222, 31%, 11%);
    margin-top:50px;
    padding:25px;
}

.contact-box h1{
    font-size:1.3em;
}

.contact-box p{
    font-size:1em;
    margin-top:0px;
    line-height:1.5em;
    margin-bottom:20px;
    color:white;
}

#email{
    width:90%;
    height:40px;
    border-radius:50px;
    border:none;
    padding-left:30px;
    padding-right:0;
    font-size:.75em;

}

#submit{
    width:100%;
    height:40px;
    border-radius:50px;
    border:none;
    background-image:linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    font-size:.75em;
    margin-top:20px;
    cursor:pointer;
}

#submit:hover{
    background-image:linear-gradient(to left, hsl(176, 68%, 64%),hsl(198, 60%, 50%));
}


footer{
    background-color:hsl(216, 53%, 9%);
    margin-top:30px;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content:center;
    z-index:1;
    padding:250px 30px 40px 30px;
    
}

.left p{
    font-size:1.1em;
    line-height: 1.5em;
    margin-top:30px;
    margin-left:20px;
    color:white;
}

.pin{
    margin-top:-50px;
}

.left2{
    display:flex;
    justify-content:center;
    align-items:center;
}

.contact{
    width:200px;
    display:flex;
    justify-content:center;
    align-items:start;
    flex-direction:column;
    color:white;
}

.contact p{
    margin-left:15px;
}

.contact div{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:-10px;
}

.info{
    padding:0;
	margin:0;
    display:flex;
    flex-direction:column;
    margin-top:75px;
}
.info li{
    list-style-type:none;
    cursor: pointer;
    color:var(--dk-grey-blue);
    color:hsl(0, 0%, 100%);
    font-size:1.2em;
    margin-bottom:20px;
}

.info li:hover{
    color:hsl(176, 68%, 64%);
}

.social{
    position:relative;
    padding:0;
    display:grid;
    grid-template-columns: 35px 35px 35px;
    grid-template-rows:35px;
    grid-gap:10px;
    margin-top:25px;
    left:50%;
    transform:translateX(-50%);
}

.social li{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style-type:none;
    cursor: pointer;
    font-size:1.5em;
    color:hsl(0, 0%, 100%);
    border:1px solid hsl(0, 0%, 100%);
    border-radius:50%;
}

.social li:hover{
    color:hsl(176, 68%, 64%);
    border:1px solid hsl(176, 68%, 64%);
}
